

.timer__wrapper,.timer__item-time,h1 {
  display: flex;
  justify-content: center;
}
/* .timer__item {
  display: block;
  padding: 0 auto;
} */

.timer__item-time {
  font-size: 50px;
  font-weight: 500;
  margin-bottom: 20px;
}

button {
  padding: 10px;
  margin-left: 10px;
  font-size: 18px;
}
